@model Karnel_Travel_Project.customer

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<style>
    #myCust {
        font-weight: bold;
        border-bottom: 1px solid white;
    }
</style>

<h2>Customer Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_contactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_contactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_nic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cust_id }, new { @class = "btn btn-dark btn-sm" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light btn-sm" })
</p>
