@model IEnumerable<Karnel_Travel_Project.restaurant>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- restaurant -->
<section class="restaurant-content mt-4">
    <div class="w-100">
        <div class="restaurant-banner">
            <span class="display-4 mx-auto text-white">
                <a href="~/Default/Transport" class="text-white">Transportation</a> |
                <a href="~/Default/Restaurant" class="text-white font-weight-bold">Restaurants</a> |
                <a href="~/Default/Resort" class="text-white">Resorts</a> |
                <a href="~/Default/Hotel" class="text-white">Hotels</a>
            </span>
        </div>
    </div>
    <div class="container">
        <!-- restaurant cards -->
        @foreach (var item in Model)
        {
            <div class="card my-3">
                <div class="row">
                    <div class="col-sm-auto">
                        <img src="@Url.Content(item.rest_img)" alt="..." width="300" height="100%">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h2 class="card-title">
                                @Html.DisplayFor(modelItem => item.rest_name)
                                @for (int i = 1; i <= (item.rest_rating); i++)
                                {
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                }
                            </h2>
                            <small class="text-muted">From @Html.DisplayFor(modelItem => item.rest_country)</small>
                            <p class="card-text">
                                @{
                                    if (item.rest_description.Length > 100)
                                    {
                                        var t = item.rest_description.Substring(0, 100);
                                        @Html.DisplayFor(modelItem => t);
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.rest_description);
                                    }
                                }
                            </p>
                            <div class="float-right mb-2">
                                <button class="btn btn-secondary mx-3" data-toggle="modal" data-target="#exampleModal">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        </div>
</section>