@model IEnumerable<Karnel_Travel_Project.tranport>

@{
    ViewBag.Title = "Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- transport -->
<section class="transport-content mt-4">
    <div class="w-100">
        <div class="transport-banner">
            <span class="display-4 mx-auto text-white">
                <a href="~/Default/Transport" class="text-white font-weight-bold">Transportation</a> |
                <a href="~/Default/Restaurant" class="text-white">Restaurants</a> |
                <a href="~/Default/Resort" class="text-white">Resorts</a> |
                <a href="~/Default/Hotel" class="text-white">Hotels</a>
            </span>
        </div>
    </div>
    <div class="container">
        <!-- transport cards -->
        @foreach (var item in Model)
        {
        <div class="card my-3">
            <div class="row">
                <div class="col-sm-auto">
                    <img src="@Url.Content(item.tran_img)" alt="..." width="300" height="100%">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h2 class="card-title">
                            @Html.DisplayFor(modelItem => item.tran_name)
                        </h2>
                        <small class="text-muted">From @Html.DisplayFor(modelItem => item.tran_country)</small>
                        <p class="card-text">
                            @{
                                if (item.tran_description.Length > 100)
                                {
                                    var t = item.tran_description.Substring(0, 100);
                                    @Html.DisplayFor(modelItem => t);
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.tran_description);
                                }
                            }
                        </p>
                        <div class="float-right mb-2">
                            <button class="btn btn-secondary mx-3" data-toggle="modal" data-target="#exampleModal">Read More</button>
                            @Html.ActionLink("Book Now", "bookingTran", null, new { @class = "btn btn-outline-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>